
.form-auth{
    display: flex;
    flex-direction: column;
    width: calc(100% - 2.75rem);
    max-width: 22.375rem;
    min-height: 21.875rem;
}

.form-auth__wrapper {
    margin: 10% 35%;
    box-sizing: border-box;
}

.form-auth__input{
    display: flex;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.059rem;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 1.875rem;
    margin-top: 0.5rem;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
}

.button-auth{
    background-color: #d128fc;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.form__text{
    /* margin: 0 0 1.5rem 0.7rem; */
    text-align: center;
    font-size: 1.3rem;
    font-family: Verdana;
}

.button-center {
    text-align: center;
}
