
.auth{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 30rem;
}

.auth__title{
    padding: 0;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.816rem;
    width: calc(100% - 2.75rem);
    max-width: 22.375rem;
    margin: 0 auto 1.73rem;
    text-align: center;
}

@media screen and (max-width: 620px){
    .auth__title{
        font-size: 1.125rem;
        line-height: 1.361rem;
        margin-bottom: 2rem;
        margin-top: 1.563rem;
    }
}

.form-auth{
    display: flex;
    flex-direction: column;
    width: calc(100% - 2.75rem);
    max-width: 22.375rem;
    margin: 0 auto;
    min-height: 21.875rem;
}

@media screen and (max-width: 620px){
    .form{
        margin-bottom: 1rem;
    }
}

.form-auth__input{
    display: flex;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.059rem;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 1.875rem;
    border:none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: transparent;
}

.form-auth__input-error_active{
    margin: 0;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 0.781rem;
    min-height: 1.562rem;
}

.form__text{
    margin: 0 0 1.5rem 0.7rem;
    font-size: 0.9rem;
}

.form-auth__input_type_error{
    border-bottom: #FF0000 1px solid;
    margin-bottom: 0.313rem;
}

.auth__switch-image{
    width: 3rem;
    margin-right: 0.3rem;
}

.auth__password-section{
    display: flex;
    margin: 1rem auto 0;
    max-width: 12rem;
    cursor: pointer;
}

.auth__admit-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.361rem;
    color: #FFFFFF;
    background-color: #000000;
    width: 100%;
    max-width: 22.375rem;
    height: 3.125rem;
    border-radius: 2px;
    margin: auto auto 0;
    cursor: pointer;
    transition: opacity 0.3s linear;
}

.auth__admit-button:hover{
    opacity: 0.8;
}

@media screen and (max-width: 620px){
    .auth__admit-button{
        padding: 0;
        font-size: 0.875rem;
        line-height: 1.059rem;
        margin-bottom: 1.563rem;
        margin-top: 1.013rem;
        height: 2.875rem;
    }
}

.auth__switch{
    text-align: center;
    width: calc(100% - 2.75rem);
    max-width: 22.375rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-size: 0.875rem;
}

.auth__switch-text{
    margin-bottom: 0;
}

.auth__link-text{
    margin: 0.4rem auto;
}

.auth__switch-link{
    text-decoration: none;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

.form__checkbox-block{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 0.5rem;
}

.form__checkbox{
    margin-right: 0.7rem;
}

.form__checkbox-label{
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.059rem;
}
