.elements-collectionlist{
    margin: 0 auto 2.2rem;
    max-width: 57rem; 
    padding: 0 1.25rem;
}

.element-collectionlist {
    list-style-type: none;
    padding: 10px;
}

.list-collectionList{
    text-align: center;
    font-size: 1.3rem;
    font-family: Verdana;
    margin-top: 5rem;
}