.elements{
    display: flex;
    width: calc(100vw - 2.375rem);
    max-width: 57rem;
    flex-wrap: wrap;
    margin: 0 auto 2.2rem;
    justify-content: center;
    gap: 1.25rem 1.063rem;
}

@media screen and (max-width: 620px){
    .elements{
        margin-bottom: 3rem;
        gap: 1.28rem;
    }
}