
.list-gameList {
  max-width: 600px;
  margin: 5rem auto 0;
  font-family: Verdana;
}

.list-gameList-title {
  font-size: 1.7rem;
  text-align: center;
  font-weight: bold;
}

.elements-gamelist {
  list-style-type: none;
  padding: 0;
}

.element-gamelist {
  border-bottom: 2px solid rgb(212, 245, 212);
  padding: 10px;
  font-size: 1.2rem;
}

.element-gamelist-router-link {
  color: rgb(157, 82, 201);
  font-size: 1.5rem;
}

.text_game-info{
  font-size: 1.5rem;
  max-width: 600px;
  margin: 5rem auto 0;
  font-family: Verdana;
}

.button-create-game{
    background-color: #d128fc;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-center-create-game {
    text-align: center;
}
