.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 10px;
    min-height: 5.5rem;
    background-color: rgb(236, 216, 255);
}

.header__title{
    font-size: 1.7rem;
    font-family: Verdana;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    margin-top: 1.3rem;
    margin-left: 4rem;
}
